//Text
$sub-heading-color: hsl(276, 100%, 81%);
$left-chat-color: hsl(276, 55%, 52%);
$right-chat-color: hsl(271, 15%, 43%);
$placeholder-text-color: hsl(206, 6%, 79%);
$main-heading-color: hsl(271, 36%, 24%);
$paragraph-color: hsl(270, 7%, 64%);
//Gradients
$light-magenta: #e942ff;
$light-violet: #8838ff;
//Secondary
$light-gray: hsla(270, 20%, 96%, 0.667);
$submit-button-background: hsl(271, 36%, 24%);
$radio-button-outline: hsl(289, 100%, 72%);
